[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-nsrreader
Exec=harbour-nsrreader
Name=NSR Reader

[X-Sailjail]
OrganizationName=harbour-nsrreader
ApplicationName=harbour-nsrreader
Permissions=UserDirs;RemovableMedia
